<!DOCTYPE html>
<html>
<head>
  <title>Your Notes</title>
  <link rel="stylesheet" href="/style.css">
  <script defer src="/main.js"></script>
</head>
<body>
  <header>
    <h2>Welcome, <%= user.name %></h2>
    <nav>
      <a href="/auth/logout">Logout</a>
    </nav>
  </header>

  <main>
    <form action="/notes" method="POST">
      <input type="hidden" name="noteId" id="noteId">
      <input type="text" name="title" placeholder="Title" required>
      <textarea name="content" placeholder="Write your note" required></textarea>
      <!--AI Rewrite Controls-->
      <div class="style">
        <label for="tone">Rewrite in a way that is:</label>
        <select id="tone">
          <option value="concise">Concise</option>
          <option value="pro">Professional</option>
          <option value="friendly">Friendly</option>
        </select>
        <button type="button" id="rewriteBtn">Rewrite with AI</button>
      </div>
      <!--AI Rewrite Output-->

      <div id="output"></div>

      <!--Ai Summary controls-->
      <div class="summary-box">
        <button type="button1" id="summarizeBtn">Summarize Note</button>
      </div>

      <!--AI Summary output-->
      <div id="summaryOutput"></div>
    

      <button type="submit">Save Note</button>
    </form>

    <ul id="notes">
      <% notes.forEach(note => { %>
        <li>
          <h3><%= note.title %></h3>
          <p><%= note.content %></p>
          <span><%= note.dateCreated.toLocaleDateString() %></span> <!--ref: https://stackoverflow.com/questions/27939773/tolocaledatestring-short-format-->
          <button class="delete-btn" data-id="<%= note._id %>">x</button>
        </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
